[submodule "vendor/radiant"]
	path = vendor/radiant
	url = git://github.com/radiant/radiant.git
[submodule "vendor/extensions/navigation"]
	path = vendor/extensions/navigation
	url = git://github.com/YouthTree/radiant-navigation-extension.git
[submodule "design"]
	path = design
	url = git://github.com/YouthTree/site-design.git
[submodule "vendor/extensions/drag_order"]
	path = vendor/extensions/drag_order
	url = git://github.com/dirkkelly/radiant-drag_order-extension.git
