[submodule "vendor/radiant"]
	path = vendor/radiant
	url = git://github.com/radiant/radiant.git
[submodule "vendor/extensions/navigation"]
	path = vendor/extensions/navigation
	url = git://github.com/YouthTree/radiant-navigation-extension.git
